<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - DotnetDevs</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta property="og:title" content="The reverse job board for .NET developers" />
    <meta property="og:description" content="We empower developers to help them find their next job." />
    <meta property="og:image" content="https://ik.imagekit.io/nearfal/og-dotnetdevs.png" />
    <link rel="shortcut icon" href="~/favicon.png">
    <script src="https://cdn.tailwindcss.com?plugins=line-clamp,forms"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <environment exclude="Development">
        <script src="https://cdn.usefathom.com/script.js" data-site="VRRCLZQB" defer></script>
    </environment>
    @await RenderSectionAsync("Headers", required: false)
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
    <div class="bg-gray-50">
        <partial name="~/Views/Shared/Partials/_Nav.cshtml" />
        <main>
            <article class="">
                @RenderBody()
            </article>
        </main>
        <partial name="~/Views/Shared/Partials/_Footer.cshtml" />
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
