@model ConversationCreate
@{
	ViewData["Title"] = $"Start a conversation with {Model.Developer.FullName}";
}
<div class="">
	<div class="relative flex flex-wrap justify-center items-center py-12 md:py-20 max-w-4xl mx-auto sm:px-8">
		<div class="flex-1">
			<h1 class="mb-4 text-black text-3xl leading-tight font-bold pl-6 lg:pl-0">
				Message @Model.Developer.FullName
			</h1>
			<form asp-action="Store" asp-controller="Conversations" method="post">
				<input asp-for="DeveloperId" type="hidden" class="" />
				<div class="text-red-500 text-sm flex justify-start">
					@Html.ValidationSummary()
				</div>
				<div class="bg-white border-y sm:border text-left">
					<div class="flex flex-col p-6">
						<div class="w-full space-y-6">
							<div>
								<label asp-for="Text" class="block text-base font-medium text-gray-700">Message *</label>
								<p class="text-sm text-gray-500">This is your chance to show off your company and connect with the developer!</p>
								<div class="mt-2">
									<textarea asp-for="Text" rows="8" type="text" required class="block w-full py-2 px-3 outline-none text-gray-700 bg-white border-gray-300 shadow-sm hover:border-indigo-600 focus:border-indigo-600"></textarea>
								</div>
								<div class="mt-1 text-red-500 text-sm">
									<span asp-validation-for="Text"></span>
								</div>
							</div>
							<div class="relative flex items-start">
								<div class="flex h-5 items-center">
									<input asp-for="Terms" type="checkbox" required class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
								</div>
								<div class="ml-3 text-sm">
									<label asp-for="Terms" class="font-medium text-gray-700">I understand I am required to pay a 5% hiring fee of a developer's first year salary if I find and hire them through DotnetDevs.</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full end justify-start mt-6 pr-6 lg:pr-0">
					<button type="submit" class="ml-auto text-base font-semibold text-white bg-indigo-600 hover:bg-indigo-700 leading-loose relative flex items-center justify-center py-2 px-12 w-auto max-w-sm md:w-auto">
						Send Message
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
