@model ConversationShow
@{
	ViewData["Title"] = $"Your a conversation with ";
}
<div class="">
	<div class="relative flex flex-wrap justify-center items-center py-12 md:py-20 max-w-4xl mx-auto lg:px-8">
		<div class="flex-1">
			<h1 class="mb-4 text-black text-3xl leading-tight font-bold pl-6 lg:pl-0">
				Conversation
			</h1>
			@foreach (var message in Model.Messages)
			{
				<p>@message.Text</p>
			}
		</div>
	</div>
</div>
