@{
	ViewData["Title"] = "About DotnetDevs";
}
<div class="relative flex flex-wrap justify-center items-center py-12 md:py-20 max-w-5xl mx-auto lg:px-8">
	<div class="flex-1">
		<div class="mx-auto px-4 sm:px-6 lg:px-8">
			<div class="text-left">
				<h1 class="mb-5 text-black text-4xl leading-tight md:text-5xl md:leading-tight lg:text-7xl lg:leading-tight font-bold">
					About
				</h1>
				<div class="text-left">
					<p class="mb-6 text-base lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						Hi, I'm Wes 👋 I'm building DotnetDevs to make it easier for .NET developers to find their next gig.
					</p>
					<p class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						DotnetDevs is built around a couple core values:
					</p>
					<ol class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700 list-decimal list-inside ml-4">
						<li>Empowering developers</li>
						<li>Developers & companies communicate directly</li>
						<li>Doing everything in public</li>
					</ol>
				</div>
				<div class="mt-16 text-left">
					<h2 class="mb-4 text-black text-3xl md:text-4xl md:leading-tight leading-tight font-bold">
						Empowering developers
					</h2>
					<p class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						Finding work as a developer can be overwhelming and stressful. The responsibility of work is almost all on the developer. Scouring job boards, writing cover letters, and filling out application after application.
					</p>
					<p class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						DotnetDevs goal is to <span class="font-bold">give power back to developers</span>. Instead of companies posting thier jobs, developers post thier profiles. This way the power dynamic is reversed as companies have ot reach out to you first.
					</p>
				</div>
				<div class="mt-16 text-left">
					<h2 class="mb-4 text-black text-3xl md:text-4xl md:leading-tight leading-tight font-bold">
						Developers & companies communicate directly
					</h2>
					<p class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						One of the main problems with Linkedin is getting spammed by recruiters about job openings.
					</p>
					<p class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						DotnetDevs does not allow recruiters on the platform unless they work for the company hiring. This way your always communicating with the company wanting to hire you.
					</p>
				</div>
				<div class="mt-16 text-left">
					<h2 class="mb-4 text-black text-3xl md:text-4xl md:leading-tight leading-tight font-bold">
						Doing everything in public
					</h2>
					<p class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						DotnetDevs is a Open Startup and is open source. This means it operates in full transparency and shares it's revenue and traffic metrics.
					</p>
					<ul class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700 list-disc list-inside ml-4">
						<li><a class="font-bold underline" href="https://github.com/westonwalker/dotnetdevs.co" target="_blank">Source code</a></li>
						<li><a class="font-bold underline" href="https://app.usefathom.com/share/vrrclzqb/dotnetdevs" target="_blank">Public analytics</a></li>
						<li><a class="font-bold underline" href="/open-startup">Revenue & Expenses</a></li>
					</ul>
					<p class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						I also build in public. This means I share my dececions and build new features for everyone to see. You can follow along with my progress <a class="font-bold underline" href="https://twitter.com/wes_walke" target="_blank">on Twitter</a>.
					</p>
				</div>
				<div class="mt-16 text-left">
					<p class="mb-6 text-lg lg:text-2xl leading-loose lg:leading-loose text-gray-700">
						I want to give a special thanks to <a class="font-bold underline" href="https://twitter.com/joemasilotti" target="_blank">Joe Masilotti</a>.
						Joe is the creator of <a class="font-bold underline" href="https://railsdevs.com/" target="_blank">RailsDevs</a> and has used his experience of running a reverse job board to help me launch DotnetDevs.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>