@{
	ViewData["Title"] = "Hire from a pool of talented .NET developers";
	ViewData["Description"] = "Our goal is to make it easy for companies to hire .NET developers. Search, find, and message the perfect .NET developer for your next job opening.";

}
<div class="relative flex flex-wrap justify-center items-center py-12 md:py-20 max-w-6xl mx-auto lg:px-8">
	<div class="flex-1">
		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			<div class="text-center">
				<h1 class="mb-5 text-center text-black text-4xl leading-tight md:text-5xl md:leading-tight lg:text-6xl lg:leading-tight font-bold max-w-3xl mx-auto">
					We make hiring .NET developers easy
				</h1>
				<p class="text-lg lg:text-2xl leading-loose lg:leading-loose text-center text-gray-700 max-w-xl mx-auto">
					Directly connect with .NET developers looking for their next job
				</p>
			</div>
		</div>

		<div id="plans" class="mt-6 pb-16 lg:mt-12 sm:pb-20 lg:pb-28">
			<div class="relative">
				<div class="relative mx-auto max-w-7xl px-0 sm:px-8">
					<div class="mx-auto overflow-hidden border-y sm:border lg:flex lg:max-w-none">
						<div class="flex-1 bg-white px-6 py-8 lg:p-12">
							<h2 class="mb-4 text-black text-3xl md:text-4xl md:leading-tight leading-tight font-bold">What you get</h2>
							<div class="mt-8">
								<ul role="list" class="mt-8 space-y-5">
									<li class="flex items-start">
										<div class="flex-shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" title="Check Circle" class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
												<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
											</svg>
										</div>
										<p class="ml-3 text-base text-gray-700">Search, find, and message directly with developers. From juniors to architects.</p>
									</li>
									<li class="flex items-start">
										<div class="flex-shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" title="Check Circle" class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
												<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
											</svg>

										</div>
										<p class="ml-3 text-base text-gray-700">Post to our job board and get your job email blasted to 500+ .NET developers</p>
									</li>

								@*	<li class="flex items-start">
										<div class="flex-shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" title="Check Circle" class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
												<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
											</svg>

										</div>
										<p class="ml-3 text-base text-gray-700">Hand-selected matches every month</p>
									</li>
*@
									<li class="flex items-start">
										<div class="flex-shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" title="Check Circle" class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
												<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
											</svg>

										</div>
										<p class="ml-3 text-base text-gray-700">Email updates of new candidates</p>
									</li>

									<li class="flex items-start">
										<div class="flex-shrink-0">
											<svg xmlns="http://www.w3.org/2000/svg" title="Check Circle" class="h-5 w-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
												<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
											</svg>

										</div>
										<p class="ml-3 text-base text-gray-700">Email support from the founder</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="bg-indigo-50 w-full lg:max-w-sm py-8 px-6 text-center lg:flex lg:flex-shrink-0 lg:flex-col lg:justify-center lg:p-12">
							<div class="mt-4 flex items-center justify-center text-5xl font-bold tracking-tight text-black">
								<span>$399</span>
								<span class="ml-2 text-xl font-medium tracking-normal text-gray-700">/month</span>
							</div>
						@*	<p class="mt-4 text-sm">
								<a href="/hire#hiring-fee" class="font-medium text-gray-500 underline">+ 10% first year salary</a>
							</p>*@
							<div class="mt-6">
								<a href="/checkout/create" class="text-base font-semibold text-white bg-indigo-600 hover:bg-indigo-700 leading-loose relative flex items-center justify-center py-1 px-4 mx-auto w-auto max-w-sm md:w-auto">
									Get started today
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-white py-12 md:py-20">
	<section aria-labelledby="faq" class="mx-auto px-4 divide-y divide-gray-200 sm:px-6 lg:max-w-7xl lg:px-8">
		<h3 id="faq" class="text-3xl md:text-4xl md:leading-tight leading-tight font-bold text-black">Frequently asked questions</h3>
		<div class="mt-8">
			<div class="divide-y divide-gray-200">
				<dl class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
					<dt class="text-base font-medium text-gray-900 md:col-span-5">What do I get with my subscription?</dt>
					<dd class="mt-2 md:mt-0 md:col-span-7">
						<p class="text-base text-gray-600">Once your subscribed, you can message developers on the platform and post unlimited jobs to our job board every month.</p>
					</dd>
					<dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0">Does DotnetDevs cost anything for developers?</dt>
					<dd class="mt-2 md:mt-0 md:col-span-7">
						<p class="text-base text-gray-600">No. DotnetDevs is free for developers.</p>
					</dd>
				@*	<dt id="hiring-fee" class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0">How does the 10% hiring fee work?</dt>
					<dd class="mt-2 md:mt-0 md:col-span-7">
						<p class="text-base text-gray-600">You are required to pay a 10% hiring fee of a developer's first year salary if you find them through DotnetDevs. Email Wes to coordinate payment at <a href="mailto:wes@dotnetdevs.co" class="underline">wes@dotnetdevs.co</a>.</p>
					</dd>*@
					<dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0">Can I cancel my subscription at any time?</dt>
					<dd class="mt-2 md:mt-0 md:col-span-7">
						<p class="text-base text-gray-600">Yes. You can cancel your subscription from the Billing link in the user drop-down. You will lose access to all paid features at the end of your billing period.</p>
					</dd>
					<dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0">Who can I contact for more specific questions?</dt>
					<dd class="mt-2 md:mt-0 md:col-span-7">
						<p class="text-base text-gray-600">Email the founder –&nbsp;that's me, Wes! – with any questions. You can reach me at <a href="mailto:wes@dotnetdevs.co" class="underline">wes@dotnetdevs.co</a>.</p>
					</dd>
				</dl>
			</div>
		</div>
	</section>
</div>

<div class="max-w-7xl  py-12 md:py-20 mx-auto px-4 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
	<h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
		<span class="block text-black">Ready to start hiring?</span>
		<span class="block text-indigo-600">Find your next .NET developer today.</span>
	</h2>
	<div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
		<div class="inline-flex">
			<a href="/hire#plans" class="bg-slate-900 py-3 px-5 inline-flex items-center justify-center text-base font-medium text-white hover:bg-black">
				Get started
			</a>
		</div>
	</div>
</div>