@model CompanySignup
@{
	ViewData["Title"] = "Dotnet Devs - The best way to hire .NET developers";
}
<div class="relative flex flex-wrap justify-center items-center py-12 md:py-20">
	<div class="flex-1">
		<div class="sm:pb-20 lg:pb-28  px-4 sm:px-6 lg:px-8 max-w-2xl mx-auto">
			<div class="relative">
				<div class="relative">
					<div class=" mx-auto overflow-hidden lg:flex">
						<div class="flex-1 bg-white p-8 shadow-xl border">
							<h2 class="mb-4 text-black text-3xl md:leading-tight leading-tight font-bold">
								Your application has been submitted for review!
							</h2>
							<p class="text-lg leading-loose lg:leading-loose text-gray-700 max-w-xl">
								We will review your application and get back to you about using Dotnet Devs. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>