@{
	ViewData["Title"] = "Congratulations! You can now hire .NET developers on DotnetDevs.";
}

<div class="">
	<div class="relative flex flex-wrap justify-center items-center py-12 md:py-20 max-w-6xl mx-auto lg:px-8">
		<div class="flex-1 space-y-8">
			<h1 class="mb-4 text-black text-3xl leading-tight font-bold">
				You are now subscribed and have unlocked the hiring features on DotnetDevs!
			</h1>
			<ul class="text-gray-700 line-clamp-3 break-words leading-loose lg:leading-loose list-disc list-inside">
				<li>View developers private information in their profiles.</li>
				<li>Start conversations with developers.</li>
				<li>Hire developers.</li>
			</ul>
			<p class="text-gray-700 line-clamp-3 break-words leading-loose lg:leading-loose font-bold">
				You are required to pay a 10% hiring fee of a developer's first year salary if you find them through DotnetDevs. Email Wes to coordinate payment at <a href="mailto:wes@dotnetdevs.co" class="underline">wes@dotnetdevs.co</a>.
			</p>
			<a href="/developers" class="text-base font-semibold text-white bg-indigo-600 hover:bg-indigo-700 leading-loose relative flex items-center justify-center py-1 px-4 mr-auto w-auto max-w-sm md:w-auto">
				Start hiring →
			</a>
		</div>
	</div>
</div>