@using Microsoft.AspNetCore.Components.Web
@namespace DotnetDevs.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/favicon.png">
    <link href="~/css/blog.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=line-clamp,forms"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <environment exclude="Development">
        <script src="https://cdn.usefathom.com/script.js" data-site="VRRCLZQB" defer></script>
    </environment>
    <base href="~/" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
    @RenderBody()

    <script src="_framework/blazor.server.js"></script>
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>
        window.highlightSnippet = function(){
            document.querySelectorAll('pre code').forEach((el)=>{
                hljs.highlightBlock(el);
            });
        }
    </script>
</body>
</html>
