@page "/open-startup"
<PageTitle>Open startup</PageTitle>
<div class="">
    <div class="relative flex flex-wrap justify-center items-center py-12 md:py-20 max-w-6xl mx-auto lg:px-8">
        <div class="flex-1">
            <div class="text-left">
                <div class="flex flex-col py-6 mb-8 px-6 lg:px-0 text-center">
                    <div>
                        <h1 class="mb-5 text-black text-4xl leading-tight md:text-5xl md:leading-tight lg:text-7xl lg:leading-tight font-bold">
                            Open Startup
                        </h1>
                        <p class="mb-5 text-lg lg:text-2xl leading-loose lg:leading-loose text-center text-gray-700">
                            DotnetDevs is an open startup with public metrics.
                        </p>
                    </div>
                </div>
                <div class="flex flex-col">
                    <table class="min-w-full divide-y divide-gray-300 bg-white border-y sm:border border-gray-600 shadow-xl">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Date</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Revenue</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Expenses</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Profit</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white text-base">
                            <tr>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 font-medium text-gray-900 sm:pl-6">December 2022</td>
                                <td class="whitespace-nowrap px-3 py-4 text-gray-500">$0</td>
                                <td class="whitespace-nowrap px-3 py-4 text-gray-500">$25</td>
                                <td class="whitespace-nowrap px-3 py-4 text-gray-500">-$25</td>
                            </tr>
                            <tr>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 font-medium text-gray-900 sm:pl-6">January 2022</td>
                                <td class="whitespace-nowrap px-3 py-4 text-gray-500">$0</td>
                                <td class="whitespace-nowrap px-3 py-4 text-gray-500">75</td>
                                <td class="whitespace-nowrap px-3 py-4 text-gray-500">-75</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>