@model BlogIndex
@{
    ViewData["Title"] = ".NET articles and tutorials for developers and companies";
    ViewData["Description"] = "Articles and tutorials to help devs learn and companies hire.";
    Layout = "_Layout";
}
@section Headers {
    <link href="~/css/blog.css" rel="stylesheet" type="text/css" />
}

<div class="relative py-12 md:py-20 px-4 md:px-8 max-w-4xl mx-auto text-left">
    <div class="flex-1">
        <h1 class="text-black text-3xl leading-tight font-bold pl-6 mb-6">
            Recently published
        </h1>
        <div class="flex flex-col space-y-6">
            @foreach (var post in Model.Posts)
            {
                <div class="bg-white p-6 space-y-6 text-left border border-gray-600 shadow-xl">
                    <h3 class="text-black text-2xl leading-tight font-bold">
                        @post.Title
                    </h3>
                    <p class="text-gray-700 line-clamp-3 break-words leading-loose lg:leading-loose">
                        @post.Description
                    </p>
                    <div>
                        <a href="/blog/@post.Slug" class="font-bold text-black">Read more</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>