@model Post
@using dotnetdevs.Helpers
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    Layout = "_Layout";
}
@section Headers {
        <link href="~/css/blog.css" rel="stylesheet" type="text/css" />
}
<div class="bg-white mt-20">
    <div class="relative py-12 md:py-20 px-4 md:px-8 max-w-4xl mx-auto text-left">
        <div class="flex-1 blog">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumb-links">Home</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="chevron"><polyline points="9 18 15 12 9 6"></polyline></svg>
                <a href="/blog" class="breadcrumb-links">Blog</a>
            </div>
            <h1>@Model.Title</h1>
             @Html.Raw(@MarkdownHelper.Parse(Model.Markdown))
        </div>
    </div>
</div>
<div class="max-w-7xl  py-12 md:py-20 mx-auto px-4 sm:px-6 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block text-black">Looking for a new oppurtunity?</span>
        <span class="block text-indigo-600">Find your next .NET developer job today.</span>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
        <div class="inline-flex">
            <a href="/" class="bg-slate-900 py-3 px-5 inline-flex items-center justify-center text-base font-medium text-white hover:bg-black">
                Get started
            </a>
        </div>
    </div>
</div>

@section Scripts {
        <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
        <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/vs2015.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>
            setTimeout(function () {
                var pres = document.querySelectorAll("pre>code");
                for (var i = 0; i < pres.length; i++) { hljs.highlightBlock(pres[i]); }
            });
        </script>
}