@{
	ViewData["Title"] = "Congratulations! You will now get DotnetDevs job alerts";
}

<div class="bg-white">
	<div class="relative flex flex-wrap justify-center items-center py-12 md:py-20 max-w-6xl mx-auto lg:px-8">
		<div class="flex-1 space-y-8">
			<h1 class="mb-4 text-black text-3xl leading-tight font-bold">
				You are now subscribed to DotnetDevs job alerts!
			</h1>
			<a href="/jobs" class="text-base font-semibold text-white bg-indigo-600 hover:bg-indigo-700 leading-loose relative flex items-center justify-center py-1 px-4 mr-auto w-auto max-w-sm md:w-auto">
				View jobs →
			</a>
		</div>
	</div>
</div>