<a href="/pricing" class="group relative p-4 flex items-center justify-center bg-gradient-to-r from-pink-500 to-orange-700 rounded-md overflow-hidden">
    <div class="absolute transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-to-r from-teal-400 to-blue-700">
	</div>
    <div class="text-gray-800 z-10 text-center">
        <p class="mb-2 font-bold text-white">Private Information</p>
        <p class="mb-2 text-gray-50">This information is only visible with a business subscription.</p>
        <p class="text-sm font-bold text-white">Subscribe →</p>
    </div>
</a>

@code {

}
