<a href="/pricing" class="transition-all group duration-200 ease-in-out border border-yellow-400 hover:border-yellow-600 hover:border-l-8 hover:ring-2 hover:ring-yellow-600 bg-yellow-50 text-base text-yellow-700 py-3 px-5 inline-flex items-center justify-start w-full">
    <div class="z-10 text-left">
        <p class="mb-2 font-bold">Private Information</p>
        <p class="mb-2">This information is only visible with a business subscription.</p>
        <p class="text-sm font-bold">Subscribe →</p>
    </div>
</a>